@model Team5Project.Models.User_Registration
@{
    ViewBag.Title = "Login";
  Layout = "~/Views/Shared/_BranchAdminLayoutPage.cshtml";
}

<h3>Welcome to Online Vehicle Registration</h3>

@using(Html.BeginForm("AdminLogin","Login"))
{
    <table>
        <tr>
            <td>Username</td>
            <td>@Html.TextBoxFor(a=>a.Username)</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.TextBoxFor(a=>a.Password)</td>
        </tr>
        <tr>
            <td>Already registered user?</td>
            <td><input type="submit" value="login" /></td>
        </tr>
        <tr>
            <td><input type="button" value="NEW CUSTOMER" onclick="@("window.location.href='" + @Url.Action("Customer", "Login") + "'");" /></td>
            <td><input type="button" value="NEW BRANCH ADMIN" onclick="@("window.location.href='" + @Url.Action("BranchAdmin", "Login") + "'");" /></td>
        </tr>

    </table>


}


