@model Team5Project.Models.ViewModel
@{
    ViewBag.Title = "SuccessfulAdmin";
}

<h2>SuccessfulAdmin</h2>


<h3>Welcome @Session["username"]</h3>

        
@using (Html.BeginForm("SuccessfulAdminInsert","Login"))
{
    <table border="1">
        <tr>
            <td>CUSTOMERID</td>
            <td>CUSTOMER NAME</td>
            <td>DOB</td>
            <td>ADDRESS</td>
            <td>MAILID</td>
            <td>PHONE</td>
            <td>OCCUPATION</td>
            <td>STATUS</td>
            <td>SELECT</td>
        </tr>
        @foreach (var i in Model.CustomerProfile)
        {

            <tr>
                <td>@i.Customer_id</td>
                <td>@i.Customer_name</td>
                <td>@i.Date_of_Birth</td>
                <td>@i.Address</td>
                <td>@i.Mail_id</td>
                <td>@i.Phone</td>
                <td>@i.Occupation</td>
                <td>
                    @Html.DropDownList("Status", new List<SelectListItem> {
                       new SelectListItem{Value=i.Status,Text=i.Status},
                       new SelectListItem { Value = "Approved" , Text = "Approved" },
                       new SelectListItem { Value = "Rejected" , Text = "Rejected" }
                    })
                </td>
                <td>@Html.CheckBox("chckbox", new { @value = i.Customer_id })</td>


            </tr>
        }


    </table>

    <table border="1">
        <tr>
            <td>BRANCH ID</td>
            <td>BRANCH LOCATION</td>
            <td>ADDRESS</td>
            <td>MAIL ID</td>
            <td>PHONE</td>
            <td>STATUS</td>
            <td>SELECT</td>


        </tr>
        @foreach (var i in Model.BranchAdmin)
        {

            <tr>
                <td>@i.Branch_id</td>
                <td>@i.Branch_Location</td>
                <td>@i.Address</td>
                <td>@i.Mail_id</td>
                <td>@i.Phone</td>
                <td>
                    @Html.DropDownListFor(a => i.Status, new List<SelectListItem> {
                                       new SelectListItem{Value=i.Status,Text=i.Status},
                                       new SelectListItem { Value = "Approved" , Text = "Approved" },
                                       new SelectListItem { Value = "Rejected" , Text = "Rejected" }
                                    })
                </td>
                <td>@Html.CheckBox("chckbox1", new { @value = i.Branch_id })</td>

            </tr>

        }

    </table>
    <tr>
        <td><input type="submit" value="Submit" /></td>
    </tr>

    if (ViewBag.message != null)
    {
        @ViewBag.message;
    }


}

